.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 90vh;
    margin: auto
    
}

.form{
    border: solid brown;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background-color: rgb(178, 187, 156);
}

.align{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    font-weight: bold;
}
.align2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    font-weight: bold;    
}
.labels{
    list-style: none;
}
.btn{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    
}
.btn2{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background-color:  rgb(201, 127, 67);
    color: white;
    padding: 7px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn3{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: red;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.error{
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin-left: 15px;
}
label{
    margin-right: 10px;
}