.filtercont{
    
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    margin: 15px 0 10px 0;   
}

.btn {
    margin-top: 5px;
    background-color: rgb(130, 60, 4);
    color: white;
    border-radius: 5px;
    padding: 0px 30px 0px 30px;
    height: 30px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.cont2{    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}